@media screen and (max-width: 1520px) {
  .catalog__column:nth-child(4) {
    display: none;
  }
  .catalog__row {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .viewed-later__column:nth-child(5) {
    display: none;
  }
  .viewed-later__row {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1250px) {
  .catalog__column:nth-child(3) {
    display: none;
  }
  .catalog__row {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .viewed-later__column:nth-child(4) {
    display: none;
  }
  .viewed-later__row {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 680px) {
  .body__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .body__nav-panel {
    visibility: hidden;
    height: 0;
    margin-top: 0;
  }
  .body .menu {
    display: none;
    height: 0;
  }
  .body__breadcrumb-mobile {
    padding-left: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 15px;
    background: #F8F8F8;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    visibility: visible;
    height: 46px;
  }
  .body__breadcrumb-text {
    text-decoration: none;
    color: #333333;
  }
  .mobile {
    visibility: visible;
  }
  .catalog__header {
    height: 0;
    padding: 0;
    margin: 0;
    visibility: hidden;
  }
  .catalog__header-mobile {
    margin-bottom: 60px;
    height: 40px;
    visibility: visible;
  }
  .catalog__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalog__filter-container {
    max-width: none;
  }
  .catalog__filter-panel {
    display: none;
    width: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 100px;
  }
  .catalog__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalog__row:nth-child(1) {
    display: block;
    height: 0;
  }
  .catalog__row:nth-child(4) {
    display: block;
    height: 0;
  }
  .catalog__banner-box {
    padding-top: 60px;
    padding-bottom: 45px;
  }
  .catalog__banner-box img {
    margin-left: -27%;
    -o-object-fit: contain;
       object-fit: contain;
    width: 150%;
  }
  .category-list__separator {
    visibility: hidden;
    margin-top: 50px;
  }
  .viewed-later__title {
    margin: auto;
  }
  .viewed-later__nav-arrow {
    margin: 0;
    visibility: hidden;
    width: 0;
  }
  .viewed-later__row {
    overflow: hidden;
    width: 470%;
  }
  .viewed-later__line-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
