.product-card {
  background: #FFFFFF;
  border: 1px solid #E0E0DD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  height: 560px;
}

.product-card__body {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 40px auto 170px;
      grid-template-rows: 40px auto 170px;
  height: 100%;
}

.product-card__body-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.product-card__body-text {
  margin-top: auto;
  margin-bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.product-card__condition-item {
  height: 100%;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.product-card__shoping-cart {
  border: 1px solid #E0E0DD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
}

.product-card__box-image {
  margin-right: auto;
  margin-left: auto;
  height: auto;
  width: auto;
}

.product-card__title-image {
  width: 100%;
  height: 100%;
}

.product-card__name {
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  color: #333333;
}

.product-card__id {
  font-size: 14px;
  line-height: 18px;
  color: #188145;
}

.product-card__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
}

.product-card__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.product-card__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 6px;
}

.product-card__comments-ammount {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #626262;
}

.product-card__footer {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.product-card__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-card__type-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 16px;
}

.product-card__size-text_color_white {
  color: white;
}

.product-card__size-text_color_green {
  color: #188145;
}

.product-card__stock-text {
  font-size: 14px;
  line-height: 18px;
  color: #188145;
}

.product-card__price-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #333333;
}

.product-card__price_color_green {
  color: #27AE60;
}

.product-card__discount-price {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  font-size: 16px;
  line-height: 20px;
  color: #626262;
}

.product-card__tool-box {
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  position: relative;
  list-style: none;
}

.product-card__tool-box:hover .product-card__tool-wrapper {
  -webkit-transform: translate(0px) scaleY(1);
          transform: translate(0px) scaleY(1);
  visibility: visible;
}

.product-card__tool-header {
  width: 32px;
  height: 32px;
}

.product-card__condition-image {
  width: 100%;
  height: 100%;
}

.product-card__tool-description {
  width: auto;
  list-style: none;
  margin: 5px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background: #FFFFFF;
  border: 1px solid #E0E0DD;
  -webkit-box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-card__tool-wrapper {
  margin: 0px;
  padding: 0px;
  top: 30px;
  left: -15px;
  position: absolute;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(0px, -10px) scaleY(0.6);
          transform: translate(0px, -10px) scaleY(0.6);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.product-card__shop-popup {
  position: relative;
  width: 53px;
  height: 36px;
  background: #27AE60;
  border-radius: 5px;
  border: 0px;
}

.product-card__shop-popup-button {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #27AE60;
  border-radius: 5px;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-card__shop-list {
  display: none;
  position: absolute;
  left: -270px;
  bottom: 55px;
  background: #FFFFFF;
  border: 1px solid #E0E0DD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  width: 363px;
  z-index: 2;
}

.product-card__shop-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 35% 40%;
      grid-template-columns: 25% 35% 40%;
  padding: 20px;
}

.product-card__shop-item:hover {
  background: rgba(111, 207, 151, 0.15);
  cursor: pointer;
}

.product-card__shop-item-stock {
  font-size: 14.7733px;
  color: #188145;
}

.product-card__shop-separator {
  border-top: 1px solid #E0E0DD;
  margin: 0;
  padding: 0;
}

.product-card__shop-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
}

.product-card__shop-image img {
  width: auto;
  height: auto;
}

.product-card__shop-name {
  font-size: 14px;
  color: #333333;
}

.product-card__shop-item_disable .product-card__shop-item-stock {
  color: #ACACAC;
}

.product-card__shop-item_disable .product-card__shop-name {
  color: #ACACAC;
}

.product-card__size-popup {
  position: relative;
  border-radius: 5px;
  border: 0px;
}

.product-card__size-popup-button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
}

.product-card__size-list {
  display: none;
  position: absolute;
  left: 0px;
  bottom: 40px;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 2;
}

.product-card__size-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}

.product-card__size-item {
  border: 1px solid #E0E0DD;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  width: 160px;
  padding: 10px;
}

.product-card__size-item_disable img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.product-card__size-item_disable .product-card__size-size-text {
  color: #ACACAC;
}

.product-card__size-item_disable .product-card__size-item-price {
  color: #ACACAC;
}

.product-card__size-item:hover {
  border: 1px solid #27AE60;
  cursor: pointer;
  background: #EAF8F0;
}

.product-card .product-card__tree-size, .product-card .product-card__item-size {
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  gap: 6px;
}

.product-card__tree-size {
  background: #616161;
  border: 1px solid #616161;
}

.product-card__item-size {
  background: white;
  border: 1px solid #188145;
}

.product-card__size-left-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
}

.product-card__size-left-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

.product-card__size-size-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #27AE60;
}

.product-card__size-item-price {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #333333;
}

.product-card__size-item-price-discount {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #198045;
}

.product-card__size-item-price_text-decoration-line_line-through {
  font-size: 14px;
  line-height: 18px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #626262;
}

.category-list {
  overflow: hidden;
}

.category-list__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category-list__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 35px;
  color: #333333;
}

.filter-panel__button--active, .filter-panel__button {
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  width: 120px;
  height: 40px;
}

.filter-panel__button--active {
  border: 1px solid #188145;
}

.filter-panel__button {
  border: 1px solid #E0E0DD;
}

.nav-arrow .nav-arrow__left, .nav-arrow .nav-arrow__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #616161;
  border-radius: 4px;
  width: 36px;
  height: 36px;
}

/* Regular */
@font-face {
  font-family: 'CeraPro';
  src: local("CeraPro"), url("../../assets/font/CeraPro-Regular.ttf") format("truetype"), url("../../assets/font/CeraPro-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/font/CeraPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: 'CeraPro';
  src: local("CeraPro"), url("../../assets/font/CeraPro-Medium.ttf") format("truetype"), url("../../assets/font/CeraPro-Medium.eot?#iefix") format("embedded-opentype"), url("../../assets/font/CeraPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'CeraPro';
  src: local("CeraPro"), url("../../assets/font/CeraPro-Bold.ttf") format("truetype"), url("../../assets/font/CeraPro-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/font/CeraPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Black */
@font-face {
  font-family: 'CeraPro';
  src: local("CeraPro"), url("../../assets/font/CeraPro-Black.ttf") format("truetype"), url("../../assets/font/CeraPro-Black.eot?#iefix") format("embedded-opentype"), url("../../assets/font/CeraPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

/* ThinItalic */
@font-face {
  font-family: 'CeraPro';
  src: local("CeraPro"), url("../../assets/font/CeraPro-ThinItalic.ttf") format("truetype"), url("../../assets/font/CeraPro-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/font/CeraPro-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

/* LightItalic */
@font-face {
  font-family: 'CeraPro';
  src: local("CeraPro"), url("../../assets/font/CeraPro-LightItalic.ttf") format("truetype"), url("../../assets/font/CeraPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/font/CeraPro-LightItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

/* MediumItalic */
@font-face {
  font-family: 'CeraPro';
  src: local("CeraPro"), url("../../assets/font/CeraPro-MediumItalic.ttf") format("truetype"), url("../../assets/font/CeraPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/font/CeraPro-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

/* BoldItalic */
@font-face {
  font-family: 'CeraPro';
  src: local("CeraPro"), url("../../assets/font/CeraPro-BoldItalic.ttf") format("truetype"), url("../../assets/font/CeraPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/font/CeraPro-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

/* RegularItalic */
@font-face {
  font-family: 'CeraPro';
  src: local("CeraPro"), url("../../assets/font/CeraPro-RegularItalic.ttf") format("truetype"), url("../../assets/font/CeraPro-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/font/CeraPro-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

/* BlackItalic */
@font-face {
  font-family: 'CeraPro';
  src: local("CeraPro"), url("../../assets/font/CeraPro-BlackItalic.ttf") format("truetype"), url("../../assets/font/CeraPro-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/font/CeraPro-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: 'CeraPro';
  src: local("CeraPro"), url("../../assets/font/CeraPro-Light.ttf") format("truetype"), url("../../assets/font/CeraPro-Light.eot?#iefix") format("embedded-opentype"), url("../../assets/font/CeraPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Thin */
@font-face {
  font-family: 'CeraPro';
  src: local("CeraPro"), url("../../assets/font/CeraPro-Thin.ttf") format("truetype"), url("../../assets/font/CeraPro-Thin.eot?#iefix") format("embedded-opentype"), url("../../assets/font/CeraPro-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

.header .wrapper {
  width: auto;
  height: 48px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 60px;
  padding-right: 60px;
}

.header .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.header__button {
  cursor: pointer;
  font-size: 15px;
  line-height: 19px;
  background-color: transparent;
  border-color: transparent;
  color: white;
}

.header__button:hover {
  color: #969696;
}

.header__button:active {
  color: #535353;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 54px;
}

.header__mail-text {
  text-decoration: none;
  font-size: 15px;
  line-height: 19px;
  color: white;
}

.header__phone-text {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: white;
}

.frame {
  background: #333333;
}

.frame .wrapper {
  margin-left: 160px;
  margin-right: 160px;
}

.frame__header {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #535353;
  padding-left: 160px;
  padding-right: 160px;
}

.frame__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 60px;
}

.frame__button {
  cursor: pointer;
  font-size: 15px;
  line-height: 19px;
  background: transparent;
  border: transparent;
  color: #BDBDBD;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.frame__button:hover {
  color: #27AE60;
}

.frame__button:active {
  color: #535353;
}

.frame__phone-text {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
}

.frame__body {
  margin-top: 40px;
  margin-bottom: 40px;
}

.frame__footer {
  padding-bottom: 40px;
}

.frame__footer-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frame__disclaimer {
  font-size: 12px;
  line-height: 15px;
  color: #9C9C9C;
  text-transform: uppercase;
}

.frame__kompot-icon {
  margin-left: auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.frame__kompot-icon:hover {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.frame__kompot-icon:active {
  -webkit-filter: drop-shadow(0px 5px 5px black);
          filter: drop-shadow(0px 5px 5px black);
}

.frame .social-network {
  margin-left: auto;
  margin-right: auto;
}

.frame .social-network__item {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.frame .social-network__item:hover {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.frame-menu__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 6fr 1fr;
      grid-template-columns: 1fr 6fr 1fr;
}

.frame-menu__icon {
  margin-left: 15px;
}

.frame-menu__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.frame-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 80px;
}

.frame-menu__category-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.frame-menu__category-text {
  font-size: 14px;
  line-height: 38px;
}

.frame-menu__category-ref {
  color: #BDBDBD;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.frame-menu__category-ref:hover {
  color: #27AE60;
}

.frame-menu__nav-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-left: auto;
}

.frame-menu__back-call-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  border-radius: 4px;
  border: transparent;
  text-decoration: none;
  height: 54px;
  width: 200px;
  background: #27AE60;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.frame-menu__back-call-button:hover {
  -webkit-filter: opacity(0.75);
          filter: opacity(0.75);
}

.frame-menu__back-call-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  color: #FFFFFF;
}

.frame-menu__contact-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  border-radius: 4px;
  border: transparent;
  text-decoration: none;
  height: 54px;
  width: 200px;
  background: #4B4B4B;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.frame-menu__contact-button:hover {
  -webkit-filter: opacity(0.75);
          filter: opacity(0.75);
}

.frame-menu__contact-text {
  background-clip: padding-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  color: #FFFFFF;
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.popup__close-form {
  position: absolute;
  top: 30px;
  right: 15px;
}

.popup__close-button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
  border: transparent;
}

.popup__checkbox-placer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.popup__frame {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 9.31907px 26.6259px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 9.31907px 26.6259px rgba(0, 0, 0, 0.05);
  border-radius: 7.98778px;
  width: auto;
  height: auto;
  background: white;
}

.popup__column {
  margin: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup__row {
  width: 400px;
}

.popup__title {
  margin-right: auto;
  font-weight: 500;
  font-size: 23px;
  line-height: 50px;
}

.popup__input-text {
  width: calc(100% - 24px);
  height: 54px;
  padding-left: 20px;
  border: 1px solid #E0E0DD;
  border-radius: 4px;
  font-size: 18px;
  line-height: 23px;
  color: #969696;
}

.popup__input-text_height_full {
  height: calc(100% - 40px);
}

.popup__input-textarea {
  height: 193px;
  resize: none;
  padding-top: 10px;
}

.popup__checkbox-element {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}

.popup__agree-text {
  font-size: 14px;
  line-height: 18px;
  color: #969696;
}

.popup__input-form {
  width: 100%;
}

.popup__input-button {
  width: 100%;
  height: 54px;
  background: #5A5A5A;
  border-radius: 4px;
  border: transparent;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
  cursor: pointer;
}

.popup:target {
  visibility: visible;
}

.submit__frame {
  width: 390px;
  height: 378px;
}

.submit__column {
  margin: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.submit__image {
  margin-top: 10px;
}

.submit__title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}

.submit__text {
  width: 231px;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}

.submit__input-form {
  width: 100%;
}

.submit__button {
  cursor: pointer;
  font-family: 'CeraPro';
  font-weight: 500;
  font-size: 18px;
  line-height: 148.7%;
  width: 100%;
  height: 54px;
  background: #F1F1F1;
  border-radius: 4px;
  border: transparent;
}

.menu {
  padding-left: 60px;
  padding-right: 60px;
  border-bottom: 1px solid #E0E0DD;
  width: auto;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 3;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}

.menu__icon {
  padding-left: 20px;
  padding-right: 71px;
}

.menu__item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 58px;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu__interactive-panel {
  margin-left: auto;
}

.menu__search-button {
  border: transparent;
  background: transparent;
}

.menu__shopping-cart-button {
  border: transparent;
  background: transparent;
}

.menu #menu__toggle-checkbox {
  opacity: 0;
}

.menu__toggle-button {
  display: block;
  width: 30px;
  height: 30px;
  top: calc(50% - 15px);
  position: absolute;
  cursor: pointer;
  z-index: 4;
}

.menu__toggle-button > span,
.menu__toggle-button > span::before,
.menu__toggle-button > span::after {
  display: block;
  position: absolute;
  top: 5px;
  height: 2px;
  width: 26px;
  background: #333333;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__toggle-button > span::before {
  content: '';
  width: 65%;
  top: 8px;
}

.menu__toggle-button > span::after {
  content: '';
  top: 16px;
}

.menu #menu__toggle-checkbox:checked ~ .menu__toggle-button > span {
  top: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu #menu__toggle-checkbox:checked ~ .menu__toggle-button > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.menu #menu__toggle-checkbox:checked ~ .menu__toggle-button > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu #menu__toggle-checkbox:checked ~ .menu__burger-panel {
  top: 0;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__burger-panel {
  position: absolute;
  left: 0;
  top: -10000px;
  padding-left: 140px;
  padding-right: 99px;
  background: white;
  width: auto;
  height: auto;
  -webkit-box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.05);
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  z-index: 3;
}

.menu__burger-list {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  margin-bottom: 60px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr .25fr;
      grid-template-rows: 1fr .25fr;
  gap: 80px;
}

.menu__burger-item-footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / span 5;
  -ms-grid-row: 2;
  grid-row: 2;
}

.menu__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__category-subcategory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  padding: 0;
  list-style: none;
}

.menu__burger-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.menu__category-icon {
  width: 32px;
  height: 32px;
  margin-bottom: 27px;
}

.menu__footer-list {
  background: linear-gradient(85.6deg, #E2F8FF 0.42%, #EAF8F0 99.88%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.25fr 1fr;
      grid-template-columns: 1fr 1.25fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  padding-left: 92px;
  padding-right: 83px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__burger-item-social {
  margin-left: auto;
}

.menu__footer-promote {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
}

.menu__footer-button {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  width: 180px;
  height: 44px;
  margin-top: 35px;
  border: transparent;
  background: #333333;
  border-radius: 4px;
  color: #FFFFFF;
}

.menu__footer-image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  margin-left: auto;
  margin-right: auto;
}

.menu__footer-benefits {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 38px;
}

.menu__benefits-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 12.6px;
}

.menu__benefits-text {
  font-size: 18px;
  line-height: 24px;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__submenu-wrapper {
  top: 0px;
  left: 0px;
  position: absolute;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(0px, -60px) scaleY(0.6);
          transform: translate(0px, -60px) scaleY(0.6);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.menu__submenu-container {
  width: 228px;
  list-style: none;
  margin: 40px;
  padding: 20px;
  background: #FFFFFF;
  border: 1px solid #E0E0DD;
  -webkit-box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__drop-menu {
  z-index: 1;
  position: relative;
  list-style: none;
}

.menu__drop-menu:hover .menu__item-title {
  color: #219653;
}

.menu__drop-menu:hover .menu__submenu-wrapper {
  -webkit-transform: translate(0px) scaleY(1);
          transform: translate(0px) scaleY(1);
  visibility: visible;
}

.menu__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 18px;
  line-height: 23px;
}

.menu__item-popup-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4px;
  margin-left: 6px;
}

.menu__item-text a {
  color: #333333;
  text-decoration: none;
  font-size: 16px;
  line-height: 249.5%;
}

.menu__category-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.menu__category-item {
  font-size: 16px;
  line-height: 50px;
  height: 24px;
}

.menu__disclaimer {
  width: 150px;
  font-size: 12px;
  line-height: 15px;
  margin-left: auto;
  text-align: right;
  text-transform: uppercase;
  color: #9C9C9C;
}

body, html {
  font-family: 'CeraPro';
  color: #333333;
  padding: 0;
  margin: 0;
}

.body__wrapper {
  padding-left: 60px;
  padding-right: 60px;
}

.body__nav-panel {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 120px;
}

.body__nav-panel-button {
  background: #FFFFFF;
  border: 1px solid #333333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body__nav-panel-image {
  width: 20px;
  height: 20px;
}

.body__breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

.body__breadcrumbs-current {
  font-size: 15px;
  line-height: 19px;
  color: #9C9C9C;
}

.body__breadcrumbs-navigate {
  text-decoration: none;
  font-size: 15px;
  line-height: 19px;
  color: #101010;
}

.viewed-later__wrapper {
  margin-top: 70px;
  padding-bottom: 200px;
}

.viewed-later__header {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.viewed-later__title {
  margin-right: auto;
}

.viewed-later__selector {
  margin-left: auto;
  margin-right: auto;
}

.viewed-later__nav-arrow {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
}

.viewed-later__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.catalog__wrapper {
  height: auto;
  width: 100%;
  display: -ms-grid;
  display: grid;
  margin-top: 70px;
  -ms-grid-columns: 360px auto;
      grid-template-columns: 360px auto;
  -ms-grid-rows: 90px auto;
      grid-template-rows: 90px auto;
}

.catalog__header {
  margin-bottom: 60px;
}

.catalog__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.catalog__body {
  width: 100%;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
}

.catalog__header-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 50px;
  color: #333333;
}

.catalog__banner-box {
  width: auto;
  height: auto;
}

.catalog__banner-image {
  width: 100%;
  height: auto;
}

.catalog__filter-panel {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}

.catalog__filter-container {
  max-width: 360px;
  background: #FFFFFF;
  border: 1px solid #E0E0DD;
  padding: 20px;
}

.catalog__filter-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  gap: 15px;
}

.catalog__filter-delimiter {
  height: 1px;
  width: 100%;
  background: #E0E0DD;
  margin-bottom: 40px;
}

.catalog__filter-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.catalog__filter-title {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #101010;
  opacity: 0.9;
  margin-bottom: 10px;
}

.catalog__filter-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}

.catalog__filter-text {
  font-size: 18px;
  line-height: 23px;
  color: #6F6F6F;
}

.catalog__filter-ammount-text {
  font-size: 18px;
  line-height: 23px;
  color: #27AE60;
}

.catalog__filter-button {
  width: 100%;
  border: none;
  height: 44px;
  background: #F1F1F1;
  font-size: 15px;
  line-height: 50px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
