.selector-item__button--active, .selector-item__button {
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  width: 120px;
  height: 40px;
}

.selector-item__button--active {
  border: 1px solid #188145;
}

.selector-item__button {
  border: 1px solid #E0E0DD;
}
