@media screen and (max-width: 1680px) {
  .frame__header {
    padding-left: 100px;
    padding-right: 100px;
  }
  .frame__nav-menu {
    gap: 40px;
  }
  .frame .wrapper {
    margin-left: 100px;
    margin-right: 100px;
  }
  .frame-menu__list {
    gap: 25px;
  }
}

@media screen and (max-width: 680px) {
  .frame .wrapper {
    margin-left: 16px;
    margin-right: 16px;
    padding: 0;
  }
  .frame__header {
    padding-top: 30px;
    padding-left: 16px;
    padding-bottom: 30px;
    padding-right: 16px;
  }
  .frame__footer {
    margin-top: 60px;
  }
  .frame__nav-menu {
    gap: 30px;
    row-gap: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .frame__info {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .frame__footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }
  .frame .social-network {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .frame__disclaimer {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .frame__kompot-icon {
    margin-right: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .frame .frame-menu__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .frame .frame-menu__item {
    width: 100%;
  }
  .frame .frame-menu__column {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
  }
  .frame .frame-menu__list {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
  }
  .frame .frame-menu__back-call-button {
    width: 100%;
  }
  .frame .frame-menu__contact-button {
    width: 100%;
  }
  .frame .frame-menu__category-subcategory {
    display: none;
    height: 0;
  }
}
