@media screen and (max-width: 1480px) {
  .header__nav-menu {
    gap: 35px;
  }
}

@media screen and (max-width: 680px) {
  .header .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__menu {
    display: block;
  }
  .header__mobile-drop-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .header__mobile-panel {
    margin-right: 15px;
    visibility: visible;
  }
  .header__nav-menu {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .header__mail-text {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .header__phone-text {
    margin-left: 0;
    margin-right: auto;
  }
  .header__info {
    gap: 0px;
  }
}
