.header {
  position: relative;
}

.header .wrapper {
  width: auto;
  height: 48px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 60px;
  padding-right: 60px;
}

.header .container {
  width: 100%;
}

.header__menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.header__button {
  cursor: pointer;
  font-size: 15px;
  line-height: 19px;
  background-color: transparent;
  border-color: transparent;
  color: white;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__button:hover {
  color: #A5A5A5;
}

.header__button:active {
  color: #7a7878;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 54px;
}

.header__mail-text {
  text-decoration: none;
  font-size: 15px;
  line-height: 19px;
  color: white;
}

.header__phone-text {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: white;
}

.header__mobile-panel {
  visibility: hidden;
  width: 0;
  height: 0;
}

.header #header__mobile-toggle-checkbox {
  visibility: hidden;
  position: absolute;
}

.header #header__mobile-toggle-checkbox:checked ~ .header__mobile-drop-down {
  visibility: visible;
}

.header #header__mobile-toggle-checkbox:checked + .header__mobile-toggle > .header__mobile-panel-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__mobile-panel-arrow {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__mobile-drop-down {
  display: none;
  visibility: hidden;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 18px;
  padding-bottom: 18px;
  left: 0;
  top: 48px;
  background: #333333;
  z-index: 4;
}

.header__mobile-category-ref {
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  color: #BDBDBD;
  font-size: 14px;
  line-height: 18px;
}

@media screen and (max-width: 680px) {
  .header .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__menu {
    display: block;
  }
  .header__mobile-drop-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .header__mobile-panel {
    margin-right: 15px;
    visibility: visible;
  }
  .header__nav-menu {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .header__mail-text {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .header__phone-text {
    margin-left: 0;
    margin-right: auto;
  }
  .header__info {
    gap: 0px;
  }
}
