@media screen and (max-width: 680px) {
  .body__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .mobile {
    visibility: visible;
  }
  .category-list__header {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__menu {
    display: block;
  }
  .header__mobile-drop-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .header__mobile-panel {
    margin-right: 15px;
    visibility: visible;
  }
  .header__nav-menu {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .header__mail-text {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .header__phone-text {
    margin-left: 0;
    margin-right: auto;
  }
  .header__info {
    gap: 0px;
  }
  .promote__frame-list {
    overflow: hidden;
    width: 300%;
    gap: 10px;
  }
  .promote__frame {
    width: 90%;
  }
  .best-deals__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    margin-bottom: 15px;
  }
  .best-deals__title {
    margin-left: auto;
    margin-right: auto;
  }
  .best-deals .filter-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
  .best-deals .filter-panel button {
    height: 29.19px;
    width: 87.57px;
  }
  .best-deals__nav-arrow {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .best-deals__row {
    overflow: hidden;
    width: 470%;
  }
  .catalog__header {
    margin-left: auto;
    margin-right: auto;
  }
  .catalog__row {
    overflow: hidden;
    width: 470%;
  }
  .catalog__banner-box {
    padding-top: 60px;
    padding-bottom: 45px;
  }
  .catalog__banner-box img {
    margin-left: -43%;
    -o-object-fit: contain;
       object-fit: contain;
    width: 150%;
  }
  .catalog__banner-list {
    gap: 0;
  }
  .catalog__banner-item {
    width: 100%;
    height: auto;
  }
  .catalog__banner-item img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    height: auto;
  }
  .catalog__banner-item:not(:first-child) {
    visibility: collapse;
    width: 0;
  }
  .catalog__line-nav {
    height: auto;
  }
  .catalog__line-nav * {
    height: auto;
  }
  .catalog .line-nav__nav-list {
    margin-top: 35px;
  }
  .catalog .line-nav__nav-item {
    height: 4px;
  }
  .catalog .line-nav__nav-item--active {
    height: 4px;
  }
  .catalog__button {
    margin-top: 60px;
  }
  .about__body {
    padding-right: 50px;
  }
  .about__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 60px;
  }
  .about__item-list {
    -ms-grid-columns: 45% 45%;
        grid-template-columns: 45% 45%;
    gap: 20px;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
  }
  .about__info-button {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .about__santa-image {
    margin-bottom: 64px;
  }
  .about__santa-image img {
    width: 100%;
    height: auto;
  }
  .about__signature-image {
    margin-top: auto;
  }
  .about__signature-image img {
    width: 100%;
    height: auto;
  }
  .about__info-button-mobile {
    margin: auto;
  }
  .about__santa {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 45% 25%;
        grid-template-columns: 30% 45% 25%;
  }
  .inspiration__list {
    display: block;
  }
  .inspiration__nav-arrow {
    visibility: hidden;
    width: 0;
  }
  .inspiration__item:first-child {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
  }
  .inspiration__item:not(:first-child) {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .inspiration__item-panel {
    gap: 15px;
  }
  .instagram {
    margin: 11px;
    margin-top: 90px;
    margin-bottom: 90px;
  }
  .instagram__header {
    padding-left: 0;
  }
  .instagram__item-list {
    display: block;
  }
  .instagram__item:not(:first-child) {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
