.product-card {
  background: #FFFFFF;
  border: 1px solid #E0E0DD;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.product-card__ref {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  height: 560px;
  text-decoration: none;
}

.product-card__body {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 40px auto 170px;
      grid-template-rows: 40px auto 170px;
  height: 100%;
}

.product-card__body-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.product-card__body-text {
  margin-top: auto;
  margin-bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.product-card__condition-item {
  height: 100%;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.product-card__shoping-cart {
  border: 1px solid #E0E0DD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
}

.product-card__box-image {
  margin-right: auto;
  margin-left: auto;
  height: auto;
  width: auto;
}

.product-card__title-image {
  width: 100%;
  height: 100%;
}

.product-card__name {
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  color: #333333;
}

.product-card__id {
  font-size: 14px;
  line-height: 18px;
  color: #188145;
}

.product-card__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
}

.product-card__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.product-card__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 6px;
}

.product-card__comments-ammount {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #626262;
}

.product-card__footer {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.product-card__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-card__type-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 16px;
}

.product-card__size-text_color_white {
  color: white;
}

.product-card__size-text_color_green {
  color: #188145;
}

.product-card__stock-text {
  font-size: 14px;
  line-height: 18px;
  color: #188145;
}

.product-card__price-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #333333;
}

.product-card__price_color_green {
  color: #27AE60;
}

.product-card__discount-price {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  font-size: 16px;
  line-height: 20px;
  color: #626262;
}

.product-card__tool-box {
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  position: relative;
  list-style: none;
}

.product-card__tool-box:hover .product-card__tool-wrapper {
  -webkit-transform: translate(0px) scaleY(1);
          transform: translate(0px) scaleY(1);
  visibility: visible;
}

.product-card__tool-header {
  width: 32px;
  height: 32px;
}

.product-card__condition-image {
  width: 100%;
  height: 100%;
}

.product-card__tool-description {
  width: auto;
  list-style: none;
  margin: 5px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background: #FFFFFF;
  border: 1px solid #E0E0DD;
  -webkit-box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #626262;
}

.product-card__tool-wrapper {
  margin: 0px;
  padding: 0px;
  top: 30px;
  left: -15px;
  position: absolute;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(0px, -10px) scaleY(0.6);
          transform: translate(0px, -10px) scaleY(0.6);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.product-card__shop-popup {
  position: relative;
  width: 53px;
  height: 36px;
  background: #27AE60;
  border-radius: 5px;
  border: 0px;
}

.product-card__shop-popup-button {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #27AE60;
  border-radius: 5px;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.product-card__shop-popup-button:hover {
  background: #207543;
}

.product-card__shop-list {
  display: none;
  position: absolute;
  left: -270px;
  bottom: 55px;
  background: #FFFFFF;
  border: 1px solid #E0E0DD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  width: 363px;
  z-index: 2;
}

.product-card__shop-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 35% 40%;
      grid-template-columns: 25% 35% 40%;
  padding: 20px;
}

.product-card__shop-item:hover {
  background: rgba(111, 207, 151, 0.15);
  cursor: pointer;
}

.product-card__shop-item-stock {
  font-size: 14.7733px;
  color: #188145;
}

.product-card__shop-separator {
  border-top: 1px solid #E0E0DD;
  margin: 0;
  padding: 0;
}

.product-card__shop-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
}

.product-card__shop-image img {
  width: auto;
  height: auto;
}

.product-card__shop-name {
  font-size: 14px;
  color: #333333;
}

.product-card__shop-item_disable .product-card__shop-item-stock {
  color: #ACACAC;
}

.product-card__shop-item_disable .product-card__shop-name {
  color: #ACACAC;
}

.product-card__size-popup {
  position: relative;
  border-radius: 5px;
  border: 0px;
}

.product-card__size-popup-button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
}

.product-card__size-list {
  display: none;
  position: absolute;
  left: 0px;
  bottom: 40px;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 2;
}

.product-card__size-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}

.product-card__size-item {
  border: 1px solid #E0E0DD;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  width: 160px;
  padding: 10px;
}

.product-card__size-item_disable img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.product-card__size-item_disable .product-card__size-size-text {
  color: #ACACAC;
}

.product-card__size-item_disable .product-card__size-item-price {
  color: #ACACAC;
}

.product-card__size-item:hover {
  border: 1px solid #27AE60;
  cursor: pointer;
  background: #EAF8F0;
}

.product-card .product-card__tree-size, .product-card .product-card__item-size {
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  gap: 6px;
}

.product-card__tree-size {
  background: #616161;
  border: 1px solid #616161;
}

.product-card__item-size {
  background: white;
  border: 1px solid #188145;
}

.product-card__size-left-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
}

.product-card__size-left-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

.product-card__size-size-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #27AE60;
}

.product-card__size-item-price {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #333333;
}

.product-card__size-item-price-discount {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #198045;
}

.product-card__size-item-price_text-decoration-line_line-through {
  font-size: 14px;
  line-height: 18px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #626262;
}

.product-card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}
