@media screen and (max-width: 680px) {
    .body {
        &__wrapper {
            padding-left: 15px;
            padding-right: 15px;
        }

        &__nav-panel {
            visibility: hidden;
            height: 0;
            margin-top: 0;
        }
        
        .menu {
            display: none;
            height: 0;
        }

        &__breadcrumb-mobile {
            padding-left: 18px;
            display: flex;
            flex-direction: row;
            gap: 15px;
            background: #F8F8F8;
            align-items: center;
            visibility: visible;
            height: 46px;
        }

        &__breadcrumb-text {
            text-decoration: none;
            color: #333333;
        }
    }

    .mobile {
        visibility: visible;
    }

    .catalog {
        &__header {
            height: 0; padding: 0; margin: 0;
            visibility: hidden;
        }

        &__header-mobile {
            margin-bottom: 60px;
            height: 40px;
            visibility: visible;
        }

        &__wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
        }

        &__filter-container {
            max-width: none;
        }

        &__filter-panel {
            display: none;
            width: 100%;
            z-index: 1;
            position: absolute;
            left: 0;
            // Header height + margin 
            top: 100px;
        }

        &__row {
            display: flex;
            flex-direction: column;
        }

        &__row:nth-child(1) {
            display: block;
            height: 0;
        }
        &__row:nth-child(4) {
            display: block;
            height: 0;
        }

        &__banner-box {
            padding-top: 60px;
            padding-bottom: 45px;

            img {
                margin-left: -27%;
                object-fit: contain;
                width: 150%;
            }
        }
    }

    .category-list__separator {
        visibility: hidden;
        margin-top: 50px;
    }

    .viewed-later {
        &__title {
            margin: auto;
        }

        &__nav-arrow {
            margin: 0;
            visibility: hidden;
            width: 0;
        }

        &__row {
            overflow: hidden;
            width: 470%;
        }

        &__line-nav {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}