@media screen and (max-width: 680px) {
    .body__wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }   

    .mobile {
        visibility: visible;
    }

    .category-list {
        &__header {
            font-weight: 500;
            font-size: 20px;
            line-height: 25px;
            justify-content: center;
        }
    }

    .header {
        .wrapper {
            padding-left: 15px;
            padding-right: 15px;
        }

        .container {
            display: flex;
            justify-content: space-between;
        }

        &__menu {
            display: block;
        }

        &__mobile-drop-down {
            display: flex;
            width: 100%;
        }

        &__mobile-panel {
            margin-right: 15px;
            visibility: visible;
        }

        &__nav-menu {
            visibility: hidden;
            width: 0;
            height: 0;
        }

        &__mail-text {
            visibility: hidden;
            width: 0;
            height: 0;
        }

        &__phone-text {
            margin-left: 0;
            margin-right: auto;
        }

        &__info {
            gap: 0px;
        }
    }

    .promote {
        &__frame-list {
            overflow: hidden;
            width: 300%;
            gap: 10px;
        }

        &__frame {
            width: 90%;
        }
    }

    .best-deals {
        //header        
        &__header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            margin-bottom: 15px;
        }
        
        &__title {
            margin-left: auto;
            margin-right: auto;
        }

        .filter-panel {
            display: flex;
            gap: 10px;

            button {
                height: 29.19px;
                width: 87.57px;
            }
        }

        &__nav-arrow {
            visibility: hidden;
            width: 0; height: 0;
        }

        //body - row
        &__row {
            overflow: hidden;
            width: 470%;
        }
    }

    .catalog {
        //header
        &__header {
            margin-left: auto;
            margin-right: auto;
        }

        //body
        &__row {
            overflow: hidden;
            width: 470%;
        }

        &__banner-box {
            padding-top: 60px;
            padding-bottom: 45px;

            img {
                margin-left: -43%;
                object-fit: contain;
                width: 150%;
            }
        }

        &__banner-list {
            gap: 0;
        }

        &__banner-item {
            width: 100%;
            height: auto;

            img {
                object-fit: contain;
                width: 100%;
                height: auto;
            }
        }

        &__banner-item:not(:first-child) {
            visibility: collapse;
            width: 0;
        }

        &__line-nav {
            * { height: auto; }
            height: auto;
        }

        .line-nav {
            &__nav-list {
                margin-top: 35px;
            }
            &__nav-item {
                height: 4px;
            }
            &__nav-item--active {
                height: 4px;
            }
        }

        &__button {
            margin-top: 60px;
        }
    }

    .about {
        &__body {
            padding-right: 50px;
        }

        &__row {
            display: flex;
            flex-direction: column-reverse;
            gap: 60px;
        }

        // List
        &__item-list {
            grid-template-columns: 45% 45%;
            gap: 20px;
            grid-template-rows: auto auto auto;
        }

        &__info-button {
            visibility: hidden;
            width: 0; height: 0;
        }

        &__santa-image {
            margin-bottom: 64px;
            img {
                width: 100%;
                height: auto;
            }
        }

        &__signature-image {
            margin-top: auto;
            img {
                width: 100%;
                height: auto;
            }
        }

        &__info-button-mobile {
            margin: auto;
        }

        &__santa {
            display: grid;
            grid-template-columns: 30% 45% 25%;
        }
    }

    .inspiration {
        &__list {
            display: block;
        }

        &__nav-arrow {
            visibility: hidden;
            width: 0;
        }

        &__item:first-child {
            grid-template-columns: 100%;
            grid-template-rows: 50% 50%;
        }

        &__item:not(:first-child) {
            visibility: hidden;
            width: 0;
            height: 0;
        }

        &__item-panel {
            gap: 15px;
        }
    }

    .instagram {
        margin: 11px;
        margin-top: 90px;
        margin-bottom: 90px;

        &__header {
            padding-left: 0;
        }

        &__item-list {
            display: block;
        }

        &__item:not(:first-child) {
            visibility: hidden;
            width: 0;
            height: 0;
        }
    }
}