@media screen and (max-width: 680px) {
    .body {
        .wrapper {
            padding-left: 25px;
            padding-right: 25px;
        }
    }    
    .category-list {
        &__header {
            font-weight: 500;
            font-size: 20px;
            line-height: 25px;
            justify-content: center;
        }
    }

    .header {
        .container {
            justify-content: start;
        }

        &__nav-menu {
            visibility: hidden;
            width: 0;
            height: 0;
        }

        &__mail-text {
            visibility: hidden;
            width: 0;
            height: 0;
        }

        &__phone-text {
            margin-left: 0;
            margin-right: auto;
        }

        &__info {
            gap: 0px;
        }
    }
    .menu {
        position: relative;
        padding-left: 25px;
        padding-right: 25px;

        &__item-list {
            visibility: hidden;
            width: 0; height: 0;
        }
        
        &__icon {
            padding-left: 0;
        }

        &__toggle {
            margin-left: 7px;
            order: 4;
        }

        //burger panel
        #menu__toggle-checkbox:checked ~ .menu__toggle-button > span{
            top: 14px;
            transform: rotate(45deg);
        }
        #menu__toggle-checkbox:checked ~ .menu__burger-panel {
            top: 80px;
            transition-duration: .25s;
        }

        &__burger-panel {
            padding-left: 25px; padding-right: 25px;
        }

        &__category-subcategory {
            visibility: hidden;
            width: 0; height: 0;
        }

        &__burger-list {
            grid-template-columns: 100%;
            grid-template-rows: .1fr .1fr .1fr .1fr .1fr .1fr;
            gap: 0;
        }

        &__burger-item  {
            flex-direction: row;
        }

        &__burger-item-footer {
            grid-column: auto;
            grid-row: auto;
        }

        //social network
        &__burger-item-social {
            grid-row: 6;
        }

        //promote list
        &__footer-list {
            padding-top: 60px;
            padding-bottom: 60px;
            padding-left: 30px;
            padding-right: 30px;
            grid-template-columns: auto;
            grid-template-rows: .1fr .1fr .1fr;
        }

        &__footer-button {
            grid-column: auto;
            grid-row: 3;
        }

        &__footer-promote {
            grid-row: 1;
            padding-bottom: 30px;
        }

        &__footer-image {
            visibility: hidden;
            width: 0; height: 0;
        }

        &__footer-benefits {
            grid-row: 2;
        }

        &__burger-item-footer {
            grid-row: 5;
        }

        //social
        &__disclaimer {
            margin-left: auto;
            margin-right: auto;
        }

        &__burger-item-social {
            display: flex;
            flex-direction: column;
            margin-right: auto;
            gap: 40px;
            margin-top: 40px;
        }
    }
    .promote {
        overflow: hidden;
        width: 300%;
        gap: 10px;

        &__frame {
            width: 90%;
        }
    }
    .best-deals {
        //header        
        &__header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            margin-bottom: 15px;
        }
        
        &__title {
            margin-left: auto;
            margin-right: auto;
        }

        .filter-panel {
            display: flex;
            gap: 10px;

            button {
                height: 29.19px;
                width: 87.57px;
            }
        }

        &__nav-arrow {
            visibility: hidden;
            width: 0; height: 0;
        }

        //body - row
        &__row {
            overflow: hidden;
            width: 470%;
        }
    }
    .catalog {
        //header
        &__header {
            margin-left: auto;
            margin-right: auto;
        }

        //body
        &__row {
            overflow: hidden;
            width: 470%;
        }

        &__banner-image {
            margin-top: 60px;
            margin-bottom: 60px;
            overflow: hidden;
            width: 250%;
        }

        &__banner-list {
            overflow: hidden;
            width: 300%;
        }
    }
    .about {
        &__row {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}