.nav-button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;

    &__image {
        width: 20px;
        height: 20px;
    }
}
.nav-button:hover {
    filter: invert(10%);
    transition: all .3s;
}