.product-card {
    background: #FFFFFF;
    border: 1px solid #E0E0DD;
    transition: all .3s;

    &:hover {
        .product-card__name {
            color: #27AE60;
        }
    }

    &__ref {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        height: 560px;
        text-decoration: none;
    }

    &__shoping-cart {
        position: relative;
    }
    &__shoping-cart-image:hover ~ &__shoping-cart-image--active {
        visibility: visible;
    }
    &__shoping-cart-image--active:hover {
        visibility: visible;
    }

    &__shoping-cart-image--active {
        position: absolute;
        top: 4px;
        left: 4px;
        visibility: hidden;
    }

    &__body {
        display: grid;
        align-items: center;
        grid-template-rows: 40px auto 170px;
        height: 100%;
    }

    &__body-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__body-text {
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }

    &__condition-item {
        height: 100%;
        width: 25%;
        display: flex;
        flex-flow: row nowrap;
    }

    &__shoping-cart {
        border: 1px solid #E0E0DD;
        box-sizing: border-box;
        border-radius: 50%;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
    }

    &__box-image {
        margin-right: auto;
        margin-left: auto;
        height: auto;
        width: auto;
    }

    &__title-image {
        width: 100%;
        height: 100%;
    }

    &__name {
        text-align: center;
        font-weight: 500;
        font-size: 22px;
        line-height: 22px;
        color: #333333;
        transition: all .3s;
    }

    &__id {
        font-size: 14px;
        line-height: 18px;
        color: #188145;
    }

    &__rate {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }

    &__rating {
        display: flex;
        flex-direction: row;
    }

    &__comments {
        display: flex;
        flex-direction: row;
        gap: 6px;
    }

    &__comments-ammount {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #626262;
    }

    &__footer {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__panel {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__type-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
    }

    &__size-text_color_white {
        color: white;
    }

    &__size-text_color_green {
        color: #188145;
    }

    &__stock-text {
        font-size: 14px;
        line-height: 18px;
        color: #188145;
    }

    &__price-panel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__price {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;
        color: #333333;
    }

    &__price_color_green {
        color: #27AE60;
    }

    &__discount-price {
        text-decoration-line: line-through;
        font-size: 16px;
        line-height: 20px;
        color: #626262;
    }

    //header drop-menu
    &__tool-box {
        width: 32px;
        height: 32px;
        padding: 0;
        margin: 0;
        position: relative;
        list-style: none;
    }
    &__tool-box:hover &__tool-wrapper {
        transform:  translate(0px) scaleY(1);
        visibility: visible;
    }

    &__tool-header {
        width: 32px;
        height: 32px;
    }

    &__condition-image {
        width: 100%;
        height: 100%;
    }

    &__tool-description {
        width: auto;
        list-style: none;
        margin: 5px;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        background: #FFFFFF;
        border: 1px solid #E0E0DD;
        box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color: #626262;
    }

    &__tool-wrapper {
        margin: 0px; padding: 0px;
        top: 30px; left: -15px;
        position: absolute;
        visibility: hidden;
        display: flex;
        transform:  translate(0px, -10px) scaleY(0.6);
        transition: .2s ease-in-out;
    }


    //popup shop menu
    &__shop-popup {
        position: relative;
        width: 53px;
        height: 36px;
        background: #27AE60;
        border-radius: 5px;
        border: 0px;
    }

    &__shop-list {
        visibility: hidden;
        position: absolute;
        left: -270px;
        bottom: 36px;
        width: 363px;
        z-index: 2;
    }
    &__shop-list-wrapper {
        margin-bottom: 12px;
        background: #FFFFFF;
        border: 1px solid #E0E0DD;
        border-radius: 4px;
        box-sizing: border-box;
        box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.05);
    }

    &__shop-popup-button {
        width: 100%;
        height: 100%;
        display: flex;
        background: #27AE60;
        border-radius: 5px;
        border: none;
        align-items: center;
        justify-content: center;
        transition: all .3s;
        cursor: pointer;
    }
    &__shop-popup-button:hover {
        background: #207543;
        transition: all .3s;
    }
    &__shop-popup-button:hover ~ &__shop-list {
        visibility: visible;
    }
    &__shop-list:hover {
        visibility: visible;
    }

    &__shop-item {
        display: grid;
        grid-template-columns: 25% 35% 40%;
        padding: 20px;
    }
    &__shop-item:hover {
        background: rgba(111, 207, 151, 0.15);
        cursor: pointer;
        transition: all .3s;
    }

    &__shop-item-stock {
        font-size: 14.7733px;
        color: #188145;
    }

    &__shop-separator {
        border-top: 1px solid #E0E0DD;
        margin: 0;
        padding: 0;
    }

    &__shop-image {
        display: flex;
        align-items: center;
        justify-content: center;
        img {width: auto; height: auto;}
        width: 100%;
        height: auto;
    }

    &__shop-name {
        font-size: 14px;
        color: #333333;
    }

    &__shop-item_disable {
        .product-card__shop-item-stock {
            color: #ACACAC;
        }
        .product-card__shop-name {
            color: #ACACAC;
        }
    }

    //popup size menu
    &__size-popup {
        position: relative;
        border-radius: 5px;
        border: 0px;
    }

    &__size-list {
        visibility: hidden;
        position: absolute;
        left: 0px;
        bottom: 28px;
        padding-bottom: 12px;
        background: transparent;
        box-sizing: border-box;
        z-index: 2;
    }

    &__size-popup-button {
        padding: 0; margin: 0;
        background: transparent;
        border: none;
        cursor: pointer;
    }
    &__size-popup-button:hover {
        filter: opacity(.85);
        transition: all .3s;
    }
    &__size-popup-button:hover ~ &__size-list {
        visibility: visible;
    }
    &__size-list:hover {
        visibility: visible;
    }

    &__size-container {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__size-item {
        border: 1px solid #E0E0DD;
        background: #FFFFFF;
        box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        display: grid;
        grid-template-columns: 80% 20%;
        width: 160px;
        padding: 10px;
    }
    &__size-item_disable {
        img {
            filter: grayscale(100%);
        }
        .product-card__size-size-text {
            color: #ACACAC;
        }
        .product-card__size-item-price {
            color: #ACACAC;
        }   
    }
    &__size-item:hover {
        border: 1px solid #27AE60;
        cursor: pointer;
        background: #EAF8F0;
    }
    &__item-size:hover {
        filter:  none; //Active filter in &__size-popup-button
        background: rgba(111, 207, 151, 0.15);
        border: 1px solid #27AE60;
        transition: all .3s;
    }

    %size-type {
        height: 26px;
        display: flex;
        flex-direction: row;
        border-radius: 6px;
        align-items: center;
        justify-content: center;
        padding-left: 8px;
        padding-right: 8px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        gap: 6px;
    }

    &__tree-size {
        @extend %size-type;
        background: #616161;
        border: 1px solid #616161;
    }

    &__item-size {
        @extend %size-type;
        background: white;
        border: 1px solid #188145;
    }

    &__size-left-panel {
        display: flex;
        flex-direction: column;
        gap: 9px;
    }

    &__size-left-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 7px;
    }
    
    &__size-size-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #27AE60;
    }

    &__size-item-price {
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        color: #333333;
    }

    &__size-item-price-discount {
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        color: #198045;
    }

    &__size-item-price_text-decoration-line_line-through {
        font-size: 14px;
        line-height: 18px;
        text-decoration-line: line-through;
        color: #626262;
    }
}
