.product-card {
    background: #FFFFFF;
    border: 1px solid #E0E0DD;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 560px;

    &__body {
        display: grid;
        align-items: center;
        grid-template-rows: 40px auto 170px;
        height: 100%;
    }

    &__body-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__body-text {
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }

    &__condition-item {
        height: 100%;
        width: 25%;
        display: flex;
        flex-flow: row nowrap;
    }

    &__condition-image {
        width: 32px;
        height: 32px;
    }

    &__shoping-cart {
        border: 1px solid #E0E0DD;
        box-sizing: border-box;
        border-radius: 50%;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
    }

    &__box-image {
        margin-right: auto;
        margin-left: auto;
        height: auto;
        width: auto;
    }

    &__title-image {
        width: 100%;
        height: 100%;
    }

    &__name {
        text-align: center;
        font-weight: 500;
        font-size: 22px;
        line-height: 22px;
        color: #333333;
    }

    &__id {
        font-size: 14px;
        line-height: 18px;
        color: #188145;
    }

    &__rate {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }

    &__rating {
        display: flex;
        flex-direction: row;
    }

    &__comments {
        display: flex;
        flex-direction: row;
        gap: 6px;
    }

    &__comments-ammount {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #626262;
    }

    &__footer {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__panel {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    %size-type {
        height: 26px;
        display: flex;
        flex-direction: row;
        border-radius: 6px;
        align-items: center;
        justify-content: center;
        padding-left: 8px;
        padding-right: 8px;
        gap: 6px;
    }

    &__tree-size {
        @extend %size-type;
        background: #616161;
        border: 1px solid #616161;
    }

    &__item-size {
        @extend %size-type;
        background: white;
        border: 1px solid #188145;
    }

    &__type-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
    }

    &__size-text_color_white {
        color: white;
    }

    &__size-text_color_green {
        color: #188145;
    }

    &__stock-text {
        font-size: 14px;
        line-height: 18px;
        color: #188145;
    }

    &__price-panel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__price {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;
        color: #333333;
    }

    &__price_color_green {
        color: #27AE60;
    }

    &__discount-price {
        text-decoration-line: line-through;
        font-size: 16px;
        line-height: 20px;
        color: #626262;
    }

    &__shop-popup {
        width: 53px;
        height: 36px;
        background: #27AE60;
        border-radius: 5px;
        border: 0px;
    }
}