@import "./common/product-card.scss";
@import "./common/category-list.scss";
@import "./common/filter-panel.scss";
@import "./common/nav-arrow.scss";
@import "./common/cera-pro-font.scss";
@import "./common/header.scss";
@import "./common/frame-footer.scss";
@import "./common/popup.scss";
@import "./common/menu.scss";

body, html
{
  font-family: 'CeraPro';
  color: #333333;
  padding: 0;
  margin: 0;
}

.mobile {
    visibility: hidden;
}

.category-list {
    &__separator {
        margin-top: 188px;
        width: 100%;
        height: 1px;
        background: #E0E0DD;
    }
}

.body { 
    &__wrapper {
        padding-left: 60px;
        padding-right: 60px;
    }

    &__nav-panel {
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 120px;
    }

    &__nav-panel-button {
        background: #FFFFFF;
        border: 1px solid #333333;
        box-sizing: border-box;
        cursor: pointer;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        transform: rotate(-180deg);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__nav-panel-image {
        width: 20px;
        height: 20px;
    }

    &__breadcrumbs {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    &__breadcrumbs-current {
        font-size: 15px;
        line-height: 19px;
        color: #9C9C9C;
    }

    &__breadcrumbs-navigate {
        text-decoration: none;
        font-size: 15px;
        line-height: 19px;
        color: #101010;
    }
}

.viewed-later {
    &__wrapper {
        margin-top: 70px;
        padding-bottom: 200px;
    }

    &__header {
        margin-bottom: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__title {
        margin-right: auto;
    }

    &__selector {
        margin-left: auto;
        margin-right: auto;
    }

    &__nav-arrow {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.catalog {
    &__wrapper {
        height: auto;
        width: 100%;
        display: grid;
        margin-top: 70px;
        grid-template-columns: max($numbers: 360px) auto;
        grid-template-rows: 90px auto;
    }

    &__header {
        margin-bottom: 60px;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__header-mobile {
        
    }

    // Catalog-filter
    &__filter-category-panel {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    
    &__filter-select {
        position: relative;
        background: #FFFFFF;
        border: 1px solid #E0E0DD;
        border-radius: 6px;
        height: 40px;
        display: flex;
        padding-left: 17px;
        padding-right: 8px;
        color: #333333;
        font-size: 16px;
        line-height: 20px;
    }

    &__filter-wrapper {
        visibility: hidden;
        position: absolute;
        left: 0; top: 55px;
        background: #FFFFFF;
        border: 1px solid #E0E0DD;
        box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }

    &__filter-select-arrow {
        transition: all .3s;
        margin: auto;
        margin-left: 12px;
        width: 14px; height: 6px;
    }

    &__filter-select-header {
        user-select: none;
        margin: auto;
        display: flex;
        flex-direction: row;
    }

    &__filter-select-checkbox {
        visibility: hidden;
        position: absolute;
        left: 0; top: 0;

        &:checked ~ .catalog__filter-wrapper {
            visibility: visible;
        }
        &:checked + .catalog__filter-select-header > .catalog__filter-select-arrow {
            transform: rotate(180deg);
            transition: all .3s;
            path { stroke: #27AE60; }
        }
    }

    &__filter-option {
        padding: 15px;
        display: flex;
        flex-direction: row;

        &:hover {
            background: rgba(111, 207, 151, 0.15);
        }
    }

    &__filter-option-text {
        font-size: 16px;
        color: #333333;
    }

    &__filter-option-ammount {
        margin-left: 12px;
        font-size: 16px;
        color: #27AE60;
    }

    // end catalog-select

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &__body {
        width: 100%;
        grid-row: 2;
        grid-column: 2;
    }

    &__header-title {
        font-weight: 500;
        font-size: 22px;
        line-height: 50px;
        color: #333333;
    }

    &__banner-box {
        width: auto;
        height: auto;
    }

    &__banner-image {
        width: 100%;
        height: auto;
    }

    //filter
    &__filter-panel {
        grid-column: 1;
        grid-row: 2;
    }

    &__filter-container {
        max-width: 360px;
        background: #FFFFFF;
        border: 1px solid #E0E0DD;
        padding: 20px;
    }

    &__filter-header {
        display: flex;
        flex-direction: row;
        grid-column: 1 / span 2;
        gap: 15px;
    }

    &__filter-delimiter {
        height: 1px;
        width: 100%;
        background: #E0E0DD;
        margin-bottom: 40px;
    }

    &__filter-item {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 20px;
    }

    &__filter-title {
        grid-row: 1;
        grid-column: 1 / span 2;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #101010;
        opacity: 0.9;
        margin-bottom: 10px;
    }

    &__filter-label {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    &__filter-text {
        font-size: 18px;
        line-height: 23px;
        color: #6F6F6F;
    }

    &__filter-ammount-text {
        font-size: 18px;
        line-height: 23px;
        color: #27AE60;
    }

    &__slider-range {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__slider-range-from {
        color: #6F6F6F;
        opacity: 0.9;
        font-size: 18px;
        line-height: 24px;
    }

    &__filter-checkbox:checked ~ &__filter-checkbox-visual {
        background: #3AB46D;
        border: 1px solid #3AB46D;
    }

    &__filter-button {
        width: 100%;
        border: none;
        height: 44px;
        background: #F1F1F1;
        font-size: 15px;
        line-height: 50px;
        color: #333333;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__filter-checkbox {
        visibility: hidden;
        position: absolute;
        top: 0; left: 0;
    }

    &__filter-checkbox-visual {
        background: #FFFFFF;
        border: 1px solid #C2C2C2;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        width: 18px; height: 18px;
    }

    &__slider-range-to {
        color: #6F6F6F;
        opacity: 0.9;
        font-size: 18px;
        line-height: 24px;
    }
}

.social-network {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@import "./media/catalog-page__media.scss";