@import "./common/product-card.scss";
@import "./common/category-list.scss";
@import "./common/filter-panel.scss";
@import "./common/nav-arrow.scss";
@import "./common/nav-button.scss";
@import "./common/cera-pro-font.scss";
@import "./common/header.scss";
@import "./common/frame-footer.scss";
@import "./common/popup.scss";
@import "./common/menu.scss";
@import "./common/line-nav-list.scss";
@import "./common/about.scss";
@import "./common/navigate-button-square.scss";
@import "./common/product-menu.scss";

body, html
{
    position: relative;
    font-family: 'CeraPro';
    color: #333333;
    padding: 0;
    margin: 0;
    min-width: 460px;
}

.menu {
    z-index: 6;
    box-shadow: none;
}

#shadow-background {
    display: none;
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 1000%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.65);
}

.product-panel__data-mobile {
    display: none;
}

.social-network {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.body { 
    &__wrapper {
        max-width: 1800px;
        padding-left: 60px;
        padding-right: 60px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    &__nav-panel {
        margin-top: 27px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 120px;
    }

    &__nav-panel-button {
        background: #FFFFFF;
        border: 1px solid #333333;
        box-sizing: border-box;
        cursor: pointer;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        transform: rotate(-180deg);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__nav-panel-image {
        width: 20px;
        height: 20px;
    }

    &__breadcrumbs {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    &__breadcrumbs-current {
        font-size: 15px;
        line-height: 19px;
        color: #9C9C9C;
    }

    &__breadcrumbs-navigate {
        text-decoration: none;
        font-size: 15px;
        line-height: 19px;
        color: #101010;
    }
}

.navigate-button-top {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 60px;
    bottom: 119px;
    background: #FFFFFF;
    border: 1px solid #333333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;

    &:hover {
        background: rgb(206, 206, 206);
        filter: opacity(.85);
    }
}

.html_scrollbar_inactive {
    overflow-y: hidden;
}

.product-panel {
    padding-left: 214px;
    padding-right: 214px;
    padding-bottom: 147px;
    overflow: hidden;

    //Product photo gallery
    &__photo-gallery {
        width: 332px;
        display: flex;
        flex-direction: column;
        gap: 37px;
    }
    &__info {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__preview-photo-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 11px;

        .active-item {
            border: 0.671795px solid #188145;
            border-radius: 4.03077px;
        }
    }
    &__preview-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 87px;
        height: 87px;
        border: 0.671795px solid transparent;
    }
    &__preview-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    &__image-preview {
        width: auto;
        height: 100%;
    }
    &__preview-item-scroll {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    //Product data
    &__data {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 441px;
    }

    &__data-title {
        color: #333333;
        font-weight: 500;
        font-size: 28px;
    }
    
    &__rating {
        display: flex;
        flex-direction: row;
        gap: 18px;
    }

    &__rating-star-list {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    //data panel
    &__data-panel {
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 48px;
    }

    &__data-type-list {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__data-fill-list {
        position: absolute;
        padding-left: 5px;
        right: 0;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__data-fill-item {
        color: #333333;
        font-size: 16px;
    }

    &__data-type-item {
        position: relative;
        display: flex;
        overflow: hidden;
        white-space: nowrap;

        span {
            font-size: 16px;
            background: white;
            color: #9C9C9C;
        }

        &::after {
            white-space: pre;
            color: #9C9C9C;
            content: '.......................................................................................................................................................';
        }
    }



    &__data-ref {
        color: #27AE60;
        font-size: 16px;
        text-decoration: none;
    }

    // sell panel
    &__sell-panel {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        gap: 26px;
        background: #FFFFFF;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
        padding: 26px;
    }

    &__frame-data {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__vendor-code {
        font-size: 16px;
        color: #188145;
    }

    &__cost {
        font-weight: 500;
        font-size: 38px;
        color: #333333;
    }


    // buy ref button
    &__buy-ref {
        cursor: pointer;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%; height: 50px;
        background: #27AE60;
        border-radius: 6px;
        transition: all .3s;

        &:hover {
            filter: opacity(.85);
        }
    }

    &__back-call-icon {
        width: 22px; height: 22px;
    }

    &__back-call-text  {
        font-weight: 500;
        font-size: 20px;
        color: #FFFFFF;
    }

    // size list
    &__size-list {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto;
        row-gap: 20px;
        column-gap: 13px;
    }

    // tab menu
    &__tab-panel {
        margin-top: 60px;
        display: grid;
        grid-template-columns: 65% 35%;
    }

    &__tab-menu-header {
        margin-bottom: 24px;
        user-select: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__tab-menu-header-item {
        cursor: pointer;
        position: relative;
        border: none;
        background: transparent;
        font-size: 24px;
        letter-spacing: 1px;
        color: #9C9C9C;
    }

    // tab 
    &__video-player {
        margin-top: 49px;
        width: 631px;
        height: 357px;
    }

    .active {
        font-weight: 500;
        font-size: 24px;
        display: block;
        color: #333333;

        &::after {
            position: absolute;
            left: 0; top: 53px;
            content: "";
            width: 100%;
            height: 2px;
            border-radius: 6px;
            background: #27AE60;
        }
    }

    &__tab-menu-separator {
        height: 1px;
        width: 100%;
        background: #E0E0DD;
        color: #333333;
    }

    &__tab {
        display: none;
        margin-top: 31px;
        font-size: 16px;
        line-height: 28px;
    }

    .active-tab {
        display: flex;
        flex-direction: column;
    }

    &__characteristic-data {
        display: grid;
        grid-template-columns: 55% 40%;
        column-gap: 98px;
    }

    //category panel 
    &__category-panel {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    &__type-item {
        font-size: 16px;
        color: #9C9C9C;
    }

    &__fill-item {
        font-size: 16px;
        color: #333333;
    }

    &__photo-list {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }    

    &__about {
        margin-top: 90px;
        margin-right: 240px;
    }

    &__item-list {
        width: 100%;
        padding: 46px 126px;
        background: #EAF8F0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    // reviews
    &__reviews {
        margin-top: 119px;
    }
    &__reviews-header {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__reviews-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    &__reviews-title-text {
        font-weight: 500;
        font-size: 20px;
        color: #333333;
    }
    &__reviews-title-number {
        font-weight: 500;
        font-size: 18px;
        color: #27AE60;
    }

    &__average-review {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    &__average-text {
        font-weight: 500;
        font-size: 18px;
        color: #27AE60;
    }

    &__reviews-bottom {
        margin-top: 17px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__rate {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }
    
    &__reviews-rate {
        display: flex;
        flex-direction: row;
        gap: 60px;
    }

    // slide
    &__rate-background {
        position: relative;
        width: 160px;
        height: 6px;
        background: #E0E0DD;
        border-radius: 10px;
    }
    
    &__rate-slide {
        position: absolute;
        width: 133px;
        height: 6px;
        border-radius: 10px;
        background: #27AE60;
    }

    &__rate-text {
        font-size: 16px;
        color: #8E8E8E;
    }

    // review button
    &__review-button {
        border: none;
        width: 200px;
        height: 54px;
        background: #27AE60;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s;
        cursor: pointer;

        &:hover {
            filter: opacity(.85);
        }
    }

    &__review-button-text {
        color: #FFFFFF;
        font-weight: 500;
        font-size: 18px;
    }

    // reviews body
    // photo gallery
    &__reviews-photo-gallery {
        display: flex;
        flex-direction: column;
    }

    &__reviews-photo-gallery-list {
        padding-top: 39px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    &__reviews-photo-item {
        background: transparent;
        border: none;
        transition: all .3s;
        cursor: pointer;

        &:hover {
            transform: scale(1.015);
        }
    }

    &__reviews-photo-gallery-title {
        font-weight: 500;
        font-size: 24px;
        color: #333333;
    }

    &__reviews-photo-img {
        width: 159px;
        height: 159px;
        border-radius: 10px;
    }

    // review item
    &__reviews-list {
        position: relative;
        padding-top: 45px;
        display: flex;
        flex-direction: row;
        gap: 19px;
    }

    &__review {
        padding: 40px;
        background: #F8F8F8;
        border-radius: 10px;
    }
    
    &__review-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin-bottom: 16px;
    }

    &__review-title {
        font-weight: 500;
        font-size: 18px;
        color: #333333;
    }

    &__review-date {
        font-weight: 500;
        font-size: 18px;
        color: #ADADAD;
    }

    &__review-rate {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin-bottom: 30px;
    }

    &__review-rate-text {
        color: #27AE60;
        font-weight: 500;
        font-size: 18px;
    }

    &__review-message {
        color: #333333;
        font-size: 18px;
        line-height: 24px;
    }

    // nav button
    .navigate-button-square__left {
        position: absolute;
        left: -18px;
        top: 50%;
    }
    .navigate-button-square__right {
        position: absolute;
        right: -18px;
        top: 50%;
    }

    // recomendation
    &__recomendation {
        margin-top: 116px;
        display: flex;
        flex-direction: column;
        gap: 37px;
    }

    &__recomendation-title {
        font-weight: 500;
        font-size: 28px;
        color: #333333;
    }
    
    // product list

    &__row {
        position: relative;
        display: flex;
        flex-direction: row;
    }

    &__column {
        width: 360px;
    }


    &__similar {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        gap: 37px;
    }
    
    &__viewed-later {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        gap: 37px;
    }

    &__line-nav {
        margin-left: auto;
        margin-right: auto;
    }
    
    .line-nav__nav-list {
        margin: 0;
    }
}

.about {
    &__item {
        width: 187px;
    }
}

.inspiration {
    &__item {
        margin: 52px auto auto;
        width: 330px;
        height: 618px;
        display: flex;
        flex-direction: column;
    }

    &__item-box {
        width: 100%;
        height: 238px;
    }

    &__item-image {
        width: 100%;
        height: auto;
    }

    &__item-panel_color_light-purple {
        background: #E9E4FF;
    }

    &__item-panel_color_light-green {
        background: #D2FFE5;
    }

    &__item-panel {
        padding: 33px;
        gap: 30px;
        display: flex;
        flex-direction: column;
    }

    &__item-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
    }

    &__item-text {
        font-size: 16px;
        line-height: 20px;
    }

    &__item-button {
        margin-top: auto;
    }
}

.product-menu {
    top: 80px;
    z-index: 3;
}

.product-popup {
    position: relative;
    display: none;
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    overflow-y: auto;
    min-width: 460px;

    &__close-button {
        background: none;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 60px;
        top: 42px;
    }

    .nav-button {
        border: 1px solid #8E8E8E;

        &__left {
            transform: rotate(-180deg);
        }
    }

    &__send-review-button {
        cursor: pointer;
        border: none;
        width: 100%;
        height: 54px;
        background: #27AE60;
        border-radius: 4px;
        color: white;
        font-weight: 500;
        font-size: 18px;
        transition: all .3s;

        &:hover {
            filter: opacity(.85);
        }
    }
}

.show {
    display: flex;
}

// review photo gallery
.product-popup {
    &__review-photo-gallery {
        width: 100%;
        height: 100%;
        background: white;
    }

    &__review-wrapper {
        width: calc(100% - 80px);
        height: calc(100% - 80px);
        padding: 40px;
        display: flex;
        flex-direction: column;
    }

    &__review-photo-img {
        width: 90px;
        height: 90px;
        border-radius: 10px;
        transition: all .3s;
        cursor: pointer;

        &:hover {
            transform: scale(1.025);
        }
    }
    
    .active-image {
        width: 110px;
        height: 110px;

        &:hover {
            transform: none;
        }
    }

    // photo galery
    &__review-photo-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    &__review-arrow-item {
        cursor: pointer;
    }

    &__review-data {
        margin-top: 30px;
        display: flex;
        gap: 130px;
        flex-direction: row;
        align-items: center;
    }

    // review main photo
    &__photo-img {
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__review-photo-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 61px;
    }

    // splitter
    &__review-splitter {
        margin-top: 58px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 1px;
        background: #E0E0DD;
    }

    // review rate
    // header
    &__review-header {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }

    &__review-rate {
        margin-left: 200px;
        margin-right: 240px;
    }

    &__review-author {
        color: #333333;
        font-weight: 500;
        font-size: 16px;
    }

    &__review-date {
        font-size: 16px;
        color: #ADADAD;
    }

    // rate panel
    &__review-rate-panel {
        display: flex;
        flex-direction: row;
        margin-top: 28px;
        gap: 39px;
    }

    &__review-rate-circle {
        width: 48px;
        height: 48px;
        background: #27AE60;
        border-radius: 50%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__review-rate-circle-mobile {
        width: 48px;
        height: 48px;
        background: #27AE60;
        border-radius: 50%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // critery
    &__review-rate-critery {
        display: flex;
        flex-direction: column;
        gap: 13px;
    }

    &__review-rate-critery-text {
        color: #8E8E8E;
        font-size: 16px;
    }

    &__review-rate-critery-slide {
        position: absolute;
        background: #27AE60;
        border-radius: 10px;
        width: 85%;
        height: 6px;
    }

    &__review-rate-critery-slide-background {
        position: relative;
        width: 160px;
        height: 6px;
        background: #E0E0DD;
        border-radius: 10px;
    }
}

// create review
.product-popup {
    // close button
    &__close-button {
        right: 28px; top: 24px;
    }

    &__create-review {
        margin: auto;
        padding: 50px;

        .product-popup__send-review-button {
            margin-top: 34px;
        }
    }

    &__create-review-wrapper {
        overflow-y: auto;
        margin: auto;
        position: relative;
        padding: 37px 28px;
        width: 516px;
        background: white;
        box-shadow: 0px 9.31907px 26.6259px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        border: 1px solid #E0E0DD;
        z-index: 7;
    }

    &__create-review-title {
        font-weight: 500;
        font-size: 23px;
        color: #333333;
    }

    // info data
    &__create-info {
        padding-top: 38px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
    }

    &__create-icon {
        height: 81px;
        width: auto;

        img {
            height: 100%;
            width: auto;
        }
    }

    &__create-info-data {
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
    }

    // cost
    &__create-info-cost {
        display: flex;
        flex-direction: row;
        gap: 9px;
        align-items: center;
    }
    
    &__create-info-cost-text {
        font-weight: 500;
        font-size: 18px;
        color: #27AE60;
    }

    &__create-info-discount-text {
        color: #BCBCBC;
        font-size: 14px;
        text-decoration-line: line-through;
    }

    // user data
    &__user-data {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 20px;
    }

    %txtbx {
        width: calc(100% - 18px);
        height: 54px;
        background: #FFFFFF;
        border: 1px solid #E0E0DD;
        border-radius: 4px;
        font-size: 18px;
        line-height: 23px;
        color: #969696;
        padding-left: 18px;
    }

    &__user-name {
        @extend %txtbx;
    }
    &__user-mail {
        @extend %txtbx;
    }

    // create rate
    &__create-rate {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        gap: 80px;
    }
    
    &__create-rate-category-list {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    &__create-rate-category {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__create-rate-category-title {
        color: #8E8E8E;
        font-size: 14px;
    }

    &__create-rate-result {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__create-rate-result-average {
        color: #27AE60;
        font-weight: 500;
        font-size: 40px;
    }

    &__create-rate-result-text {
        width: 54px;
        font-weight: 500;
        font-size: 14px;
        color: #27AE60;
    }

    .product-panel__rating-star-icon {
        width: 24px;
        height: 24px;
    }

    .product-panel__rating-star-list {
        gap: 7.5px;
    }

    &__create-review-title-inner {
        margin-top: 60px;
        color: #333333;
        font-weight: 500;
        font-size: 20px;
    }

    // review message

    &__user-review-message-text {
        margin-top: 12px;
        background: #FFFFFF;
        border: 1px solid #E0E0DD;
        border-radius: 4px;
        resize: none;
        color: #969696;
        font-size: 18px;
        line-height: 23px;
        padding: 18px 15px;
        width: calc(100% - 30px);
        height: 222px;

        &:active {
            color: #333333;
        }
    }

    // drag and drop
    &__photo-drag-drop {
        display: flex;
        flex-direction: column;
    }

    &__photo-title-header {
        display: flex;
        flex-direction: column;
        gap: 13px;
    }

    &__photo-title { 
        color: #333333;
        font-weight: 500;
        font-size: 20px;
    }

    &__photo-subline {
        width: 350px;
        line-height: 18px;
        font-size: 14px;
        color: #8E8E8E;
    }

    &__photo-drag-drop-field {
        cursor: pointer;
        margin-top: 32px;
        width: calc(100% - 94px - 94px);
        height: 222px;
        padding-left: 94px;
        padding-right: 94px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border: 1px dashed #E0E0DD;
        border-radius: 4px;
        transition: all .3s;

        &:hover {
            border-color: #27AE60;
        }
    }

    &__photo-galley-upload-error {
        margin-top: 10px;
        display: none;
        color: #DE1205;
        font-size: 14px;
    }

    &__photo-description {
        display: flex;
        flex-direction: row;
        gap: 18px;   
    }

    &__photo-ref {
        text-decoration: none;
        color: #27AE60;
        font-weight: 500;
        font-size: 14px;
    }

    &__photo-text-mobile {
        display: none;
        color: #8E8E8E;
        font-weight: 500;
        font-size: 14px;
    }

    &__photo-text {
        color: #8E8E8E;
        font-weight: 500;
        font-size: 14px;
    }

    &__photo-input {
        display: none;
    }

    // loaded photo list
    &__photo-gallery-list {
        margin-top: 10px;
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
    }

    &__list-photo-image {
        width: 100px;
        height: 100px;
        border-radius: 6px;
    }
}

// sucess popup
.product-popup {
    &__sucess-panel {
        margin: auto;
        padding: 50px;

        .product-popup__send-review-button {
            margin-top: 34px;
        }
    }

    &__sucess-wrapper {
        position: relative;
        padding: 0px 20px 40px 20px;
        width: calc(414px - 40px);
        box-shadow: 0px 9.31907px 26.6259px rgba(0, 0, 0, 0.05);
        border-radius: 7.98778px;
        background: #FFFFFF;
        border: 1px solid #E0E0DD;
    }

    &__sucess-text {
        margin-top: 18px;
    }

    &__unsave-buttons {
        margin-top: 34px;
    }

    &__close-button {
        top: 20px;
        right: 20px;
    }
}

// shop select
.product-popup {
    &__shop-select {
        margin: auto;
    }
    &__shop-wrapper {
        position: relative;
        padding: 0px 80px;
        display: flex;

        .product-popup__close-button {
            width: 36px;
            height: 36px;
            background: rgba(0, 0, 0, 0.5);
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
    
            path {
                stroke: white;
            }
        }
    }

    .product-card__shop-list {
        width: 480px;
        position: static;
        visibility: visible;
    }
}

// unsave popup
.product-popup {
    &__unsave-panel {
        margin: auto;

        .product-popup__send-review-button {
            margin-top: 0px;
        }
    }

    &__unsave-buttons {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .gray {
        color: #333333;
        background: #F1F1F1;
    }
}

// layer system
#create-review-popup {
    z-index: 8;
}

#sucess-popup {
    z-index: 9;
}

#review-popup {
    z-index: 8;
}

#shop-select {
    z-index: 8;
}

#unsave-popup {
    z-index: 10;
}

.mobile {
    display: none;
}

@import "./media/product-page__media.scss";